<!-- header section -->
<app-header (onMenuBtnClick)="toggle()"></app-header>

<!-- side nav -->
<mat-drawer-container class="example-container">
    <mat-drawer
     mode="side" [opened]="sidebarOpened">
    <!-- sidebar -->
    <app-sidebar></app-sidebar>
</mat-drawer>
    <mat-drawer-content>
    <!-- dashboard section -->
    <!-- <app-dashboard></app-dashboard> -->
    <router-outlet></router-outlet>
   </mat-drawer-content>
    </mat-drawer-container>

    <!-- divider -->
    <mat-divider></mat-divider>
<!-- footer sectioni -->
<app-footer></app-footer>