<div class="cards">
    <!-- card -->
    <!-- card1 -->
    <mat-card>
        <app-card
         bg="orange"
            icon="group"
            description="students"
            count="2000">
           
        </app-card>
      </mat-card>
    
     <!-- card2 -->
     <mat-card>
        <app-card
        bg="red"
            icon="home"
            description="Institutions"
            count="50">
            
        </app-card>
      </mat-card>
    

     <!-- card3 -->
     <mat-card>
        <app-card 
        bg="green"
            icon="groups"
            description="employees"
            count="1000">
           
        </app-card>
      </mat-card>
    
       <!-- card4 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="dashboard"
        description="placements"
        count="1500">
           
        </app-card>
      </mat-card>
    
</div>

<div class="area">
    <!-- area-chart -->
    <app-area-chart></app-area-chart>
</div>
<div class="tablepie">
    <!-- table -->
    <div >
        <app-table></app-table>
    </div>
    <div>
        <!-- pie -->
        <app-pie-chart></app-pie-chart>
    </div>
</div>